name: Test notify action
on:
    push:
        branches: [v1]
jobs:
    # success job
    TestNotifySuccess:
        runs-on: ubuntu-latest
        steps:
            - uses: bravo680git/tele-notify@v1
              if: always()
              with:
                to: ${{ secrets.TELE_CHANNEL_ID }}
                token: ${{ secrets.TELE_TOKEN }}

    # failure job
    TestNotifyFailure:
        runs-on: ubuntu-latest
        if: always()
        steps:
            - name: Make un error
              run: exit 1
            - uses: bravo680git/tele-notify@v1
              if: always()
              with:
                to: ${{ secrets.TELE_CHANNEL_ID }}
                token: ${{ secrets.TELE_TOKEN }}
