name: Test notify action
on:
    push:
        branches: main
jobs:
    TestNotify:
        runs-on: ubuntu-latest
        steps:
            - uses: bravo680git/actions@main/notify
              with:
                status: ${{ job.status }}
                project: ${{ github.repository }}
                to: ${{ secrets.TELE_CHANNEL_ID }}
                token: ${{ secrets.TELE_TOKEN }}
